<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TermSetExporterClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="TermSetExporter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <appSettings>
    <add key="SITE_URL" value=""/>
    <add key="COLUMN_GROUP_NAME" value=""/> 
    <add key="HIERARCHY_NEEDED" value="True"/>
    <add key="TERMS_XML_FILE_NAME" value=""/>
  </appSettings>
    <applicationSettings>
        <TermSetExporterClient.Properties.Settings>
            <setting name="TermSetExporter_TaxonomyClientSvcProxy_Taxonomy_x0020_web_x0020_service"
                serializeAs="String">
                <value>http://ServerName/_vti_bin/TaxonomyClientService.asmx</value>
            </setting>
        </TermSetExporterClient.Properties.Settings>
        <TermSetExporter.Properties.Settings>
            <setting name="TermSetExporter_TaxonomyClientSvcProxy_Taxonomy_x0020_web_x0020_service"
                serializeAs="String">
                <value>http://ServerName/_vti_bin/TaxonomyClientService.asmx</value>
            </setting>
        </TermSetExporter.Properties.Settings>
    </applicationSettings>
</configuration>